body {
    background-color: #000428;
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "header header" "main aside" "footer footer";
    gap: 20px;
}

header {
    grid-area: header;
    background-color: #0d1b3d;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 2px solid #1e90ff;
}

header h1 {
    color: #ffffff;
    font-size: 36px;
    letter-spacing: 3px;
}

header p {
    color: #87ceeb;
    margin-top: 10px;
}

.controles {
    margin-top: 20px;
}

input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #1e90ff;
    background-color: #0d1b3d;
    color: white;
    margin-right: 10px;
}

#btn-buscar {
    background-color: #1e90ff;
    color: white; padding: 10px 20px;
    border: none; border-radius: 5px;
    cursor: pointer; font-weight: bold;
}

button:hover {
    background-color: #4169e1;
}

main {
    grid-area: main;
    background-color: #0d1b3d;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #1e90ff;
}

#titulo {
    color: #ffffff;
    font-size: 28px;
    margin-bottom: 15px;
}

#contenedor-imagen img {
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;
}

#explicacion-imagen {
    line-height: 1.6;
    margin-top: 15px;
    color: #e0e0e0;
}

#btn-favoritos {
    background-color: #4bd15d;
    color: #000428;
    margin: 15px 0;
}

#btn-favoritos:hover {
    background-color: #11410c;
    color: #e0e0e0;
}

aside {
    grid-area: aside;
    background-color: #0d1b3d;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #1e90ff;
}

aside h3{
    color: #ffd700;
    margin-bottom: 15px;
}

#lista-favoritos {
    list-style: none;
    padding: 0;
}

#lista-favoritos li {
    background-color: #1a2b5d;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    border-left: 3px solid #ffd700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
#lista-favoritos li:hover {
    background-color: #2a3b7d;
}
#btnEliminar{
    margin-left: 10px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    
}

footer {
    grid-area: footer;
    text-align: center;
    padding: 20px;
    color: #87ceeb;
    border-top: 1px solid #1e90ff;
    margin-top: 20px;
}